@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Spotify Dark Theme */
    --background: #121212;
    --foreground: #FFFFFF;
    --primary: #1DB954;
    /* Spotify Green */
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  @apply antialiased box-border;
  min-height: 100vh;
}

/* Hide Scrollbar but allow scroll */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}