@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 263.4 70% 50.4%;
    /* Purple */
    --secondary: 240 3.7% 15.9%;
    --accent: 240 3.7% 15.9%;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  @apply antialiased;
  min-height: 100vh;
}